abjad==3.2
aiofiles==0.6.0
asgiref==3.3.1
colorama==0.4.4
colorlog==4.6.2
fastapi==0.70.0
httpx==0.23.0
natsort==8.0.1
PyPDF2==1.27.5
python-ly==0.9.7
svglib==1.1.0
reportlab==3.6.3
testresources==2.0.1
wheel==0.36.1
requests==2.28.1
