aiofiles==0.6.0
asgiref==3.3.1
colorama==0.4.4
colorlog==4.6.2
fastapi==0.70.0
httpx==0.23.0
natsort==8.0.1
PyPDF2==1.27.9
python-ly==0.9.7
psutil==5.9.4
wheel==0.38.1
svglib==1.1.0
reportlab==3.6.12
testresources==2.0.1
requests==2.31.0
uvicorn==0.20.0
